@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', sans-serif;
    background-color: #8e44ad;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* overflow: hidden; */
    margin: 0;
}

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter{
    font-size: 60px;
    margin-top: 10px ;
}

@media(max-width: 580px){
    body{
        flex-direction: column;
    }
}

.btn{
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background: #50086d;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0 6px #0b000f;
}

.btn:hover{
    box-shadow: 0 4px #0b000f;
    top: 2px;
}

.btn:active{
    box-shadow: 0 0px #0b000f;
    top: 6px;
}